---
layout: pagelist
title: Tips for the devs
tagline: ... directly from the Faria cave
---
{% include JB/setup %}

{% for post in paginator.posts %}
  <div class="row post-full post-list">
    <div class="col-md-12">
      <div class="date pull-right">
        <span class="btn btn-xs btn-default">{{ post.date | date_to_long_string }}</span>
      </div>
      {% unless post.tags == empty %}
        <ul class="tag_box inline pull-right">
          {% assign tags_list = post.tags %}
          {% include JB/tags_list %}
          {% unless post.category == empty %}
          <li><a href="{{ BASE_PATH }}{{ site.JB.authors_path }}#{{ post.category }}-ref" class="tagbtn btn btn-info btn-xs" data-tag="{{ post.category }}">{{ post.category }}</a></li>
          {% endunless %}
        </ul>
      {% endunless %}
      <h2><a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a></h3>
      <div class="tagline">{{ post.tagline }}</div>

      <div class="content">
        {{ post.content }}
      </div>

    </div>
  </div>
{% endfor %}

